<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="addProduk.js" defer></script>
    <link rel="stylesheet" href="addProdukStyle.css" />
    <title>Tambah Produk UMK</title>
  </head>

  <body>
    <div class="page-container">
      <div class="logo">
        <p class="wovey">Wovey<br />Foodcourt .</p>
      </div>

      <!-- Header Section -->
      <div class="header">
        <p class="dashboard-header">Produk</p>
        <a th:href="@{/umk/profile}"
          ><img class="profile" th:src="${profilePic}"
        /></a>
      </div>

      <div class="sidebar">
        <div class="navigation">
          <div class="menu-item dashboard">
            <img
              class="icon-dashboard"
              src="/Assets/umk/daftarProduk/icon-dashboard0.svg"
            />
            <p class="nav-transaki"><a th:href="@{/umk/home}">Dashboard</a></p>
          </div>

          <div class="menu-item produk">
            <img src="/Assets/umk/daftarProduk/icon-produk0.svg" />
            <p><a th:href="@{/umk/produk}">Produk</a></p>
          </div>

          <div class="menu-item transaksi">
            <img
              class="icon-transaksi"
              src="/Assets/umk/daftarProduk/icon-transaksi0.svg"
            />
            <p class="nav-transaksi">
              <a th:href="@{/umk/transaksi}">Transaksi</a>
            </p>
          </div>

          <div class="menu-item keuangan">
            <img
              class="icon-keuangan"
              src="/Assets/umk/daftarProduk/icon-keuangan0.svg"
            />
            <p class="nav-keuangan">
              <a th:href="@{/umk/keuangan}">Keuangan</a>
            </p>
          </div>
          <div class="menu-item penjualan">
            <img
              class="icon-penjualan"
              src="/Assets/umk/daftarProduk/icon-penjualan0.svg"
            />
            <p class="nav-penjualan">
              <a th:href="@{/umk/penjualan}">Penjualan</a>
            </p>
          </div>

          <div class="nav-divider">
            <img class="divider" src="/Assets/umk/daftarProduk/divider0.svg" />
          </div>

          <div class="menu-item log-out">
            <img
              class="icon-log-out"
              src="/Assets/umk/daftarProduk/icon-log-out0.svg"
            />
            <p class="nav-log-out"><a th:href="@{login/out}">Log Out</a></p>
          </div>
        </div>
      </div>

      <div class="header">
        <div class="header-text">
          <p class="profile-header" id="profile">Produk</p>
          <p class="profile-header">&gt;</p>
          <p class="profile-header" id="editProfile">Tambah Produk</p>
        </div>
        <img class="profile" src="assets/generic-avatar0.svg" />
      </div>

      <div class="main-content">
        <div class="profile-details">
          <form class="profile-form" id="input-form">
            <div class="left-profile">
              <div class="profile-item">
                <label for="nama-produk">Nama Produk</label>
                <input
                  type="text"
                  id="nama-produk"
                  name="nama-produk"
                  placeholder="Ex: Roti Coklat"
                  required
                />
              </div>

              <div class="profile-item">
                <label for="deskripsi">Deskripsi</label>
                <textarea
                  id="deskripsi"
                  name="deskripsi"
                  placeholder="Ex: Roti cokelat lembut berisi perpaduan chocolate ganache cream dan premium dark chocolate yang pas."
                  required
                ></textarea>
              </div>
            </div>

            <div class="right-profile">
              <div class="profile-item">
                <label for="harga">Masukkan Harga:</label>
                <input
                  type="number"
                  id="harga"
                  name="harga"
                  placeholder="Masukkan harga produk"
                  min="0"
                  step="1000"
                  required
                />
              </div>
              <div class="profile-item">
                <label for="stok">Masukkan Jumlah Stok:</label>
                <input
                  type="number"
                  id="stok"
                  name="stok"
                  placeholder="Masukkan stok"
                  min="0"
                  required
                />
              </div>

              <div class="profile-logo">
                <label for="foto-produk">Foto Produk</label>
                <input
                  type="file"
                  id="foto-produk"
                  name="foto-produk"
                  accept="image/*"
                />
              </div>
            </div>

            <!-- Save Changes Button -->
            <div class="edit-profile-btn">
              <button type="button" class="submit-button">Tambah Produk</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div id="regis-sent" class="overlay hidden">
      <div class="overlay-content">
        <!-- <img src="check-icon0.png" alt="Check Icon" class="check-icon" /> -->
        <h1>Apakah anda yakin ingin menambah produk ini?</h1>
        <p>Cek kembali masukan anda!</p>
        <button class="yes-btn" id="confirm-yes">Ya</button>
        <button class="no-btn" id="confirm-no">Tidak</button>
      </div>
    </div>
  </body>
</html>
