body{
    width: 100%;
    height: 1024px;
    background-image: url(/Assets/background.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}
h1{
    color: #343C6A;
    flex: 1;
}
body main{
    background-color: white;
    padding: 20px;
    width: 60%;
    height: 851px;
    border-radius: 25px;
    border: 1px solid black;
}
.main{
    display: grid;
    justify-content: center;
    margin: 20px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 80px 150px 150px 150px 150px 150px;
    column-gap: 40px;
    grid-template-areas: 
    "h h"
    "i1 i6"
    "i2 i7"
    "i3 s"
    "i4 s"
    "i5 s";
}
.header{
    grid-area: h;
    display: flex;
    justify-content: center;
}
.nama{
    grid-area: i1;
    display: flex;
    flex-direction: column;
}
label:nth-child(2){
    border: 1px solid black;
    border-radius: 20px;
    height: 70px;
    justify-content: center;
    text-align: left;
    padding: 10px;
    font-size: 18px;
}
label:nth-child(1){
    flex: 0.5;
}
.alamat{
    grid-area: i2;
    display: flex;
    flex-direction: column;
}
.tgl{
    grid-area: i3;
    display: flex;
    flex-direction: column;
}
.status{
    grid-area: i4;
    display: flex;
    flex-direction: column;
}
.total{
    grid-area: i5;
    display: flex;
    flex-direction: column;
}
.pemilik{
    grid-area: i6;
    display: flex;
    flex-direction: column;
}
.desk{
    grid-area: i7;
    display: flex;
    flex-direction: column;
}
.logo{
    grid-area: s;
    display: flex;
    flex-direction: column;
}
.logo img{
    width: 80%;
    height: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.cross{
    width: 60%;
    height: 60px;
}
button{
    background-color: white;
    border: 0px;
}